{# Widgets #}

{% block field_help %}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}
{% endblock %}

{% block field_row %}
{% spaceless %}
    <div>
        {{ form_label(form, label|default(null)) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ block('field_help') }}
    </div>
{% endspaceless %}
{% endblock field_row %}
